<h1>Good Food Hunting</h1>

<a href="/dishes/new">Post new dish</a>

<% @dishes.each do |dish| %>

    <p>
        <a href="/dishes/<%= dish['id']%>">
            <%= dish['name'] %> <%#or can write as dish.name, dish.id when using active record %>
        </a>
        
    </p>
    <img class ="thumbnails" src="<%= dish['image_url'] %>">
<% end %>