<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<header>
 <h2> Good Food Hunting</h2>

 <nav>
 <ul> <li><a href="/">Home</a><a href="/About">About</a></li>
 </ul>
 </nav>
</header>
<body>

<% if logged_in? %> <%#User.find_by(id: session[:user_id]) --find_by returns a true or false%>

 logged in as <%= current_user.email %>
 <form action="/session" method="post">
  <input type="hidden" name= "_method" value = "delete">
  <button>Logout </button>
  </form>
 <%else%>

 <button> <a href="/login"> Login here </a></button>

 <%end%>

  <%= yield %> 


</body>

</html>